* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #111827;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    transition: 0.3s;
}

nav a:hover {
    color: #38bdf8;
}

.section {
    padding: 60px 10%;
}

.section h2 {
    color: #38bdf8;
    margin-bottom: 20px;
}

.card {
    background: #1e293b;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    transition: 0.3s;
}

.card:hover {
    background: #334155;
    transform: translateY(-5px);
}

footer {
    text-align: center;
    padding: 20px;
    background: #111827;
}
